QTabWidget::pane    { border-bottom: 2px solid #C2C7CB; }
QTabWidget::tab-bar { left: 1px; }
/*
 * Style the tab using the tab sub-control.
 * Note that it reads QTabBar _not_ QTabWidget
 */
QTabBar::tab {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0   #ECF4F9,
                              stop: 0.5 #8DADC6,
                              stop: 1.0 #465563);
  border: 2px solid #C4C4C3;
  border-top-color: #C2C7CB; /* same as the pane color */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 8ex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  }
QTabBar::tab:selected {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0   #CFFEBA,
                              stop: 0.5 #22E710,
                              stop: 1.0 #0B490A);
  }
QTabBar::tab:selected {
  border-color: #9B9B9B;
  font: bold; color: white;
  border-top-color: #C2C7CB; /* same as pane color */
  }
QTabBar::tab:!selected {
  margin-bottom: 8px; /* make non-selected tabs look smaller */
  margin-right: -6px;
  }
QTabBar::tab:selected {
  /* expand/overlap to the left and right by 4px */
  margin-left: -4px;
  margin-right: -6px;
  }
QTabBar::tab:first:selected {
  margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
  }
QTabBar::tab:last {
  margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
  }
QTabBar::tab:only-one {
  margin: 0; /* if there is only one tab, we don't want overlapping margins */
  }

QTabBar::scroller {
/*  width: 20px; / * the width of the scroll buttons */
  margin: 0;
  }
QTabBar QToolButton {
  /* the scroll buttons are tool buttons * /
  border-image: url(scrollbutton.png) 2;
  border-width: 2px;
  */
  margin: 0;
  margin-bottom: 4px;
  }
QTabBar QToolButton::right-arrow {
  /* image: url(rightarrow.png); / * the arrow mark in the tool buttons */
  margin-left: 0px;
  }
QTabBar QToolButton::left-arrow {
  /* image: url(leftarrow.png); */
  margin-right: 10px;
  padding-right: 10px;
  width: 90px;
  }
